<div class="grid">
    <div class="col">
        <span class="font-medium">{{progress?.name}}</span>
        
    </div>

    <div class="col">
        <span class="col">{{progress?.completedLength}} km / {{progress?.totalLength}} km</span>
        <span>({{ percentage | number}}%)</span>
    </div>

    <div class="col  flex align-items-center">
        <p-progressBar [showValue]="false" [value]="percentage | number"></p-progressBar>
    </div>
    <div class="col-fixed">
        <button type="button" pButton
            class="p-button-sm p-button-outlined p-button-rounded"
            icon="pi pi-eye"
            iconPos="left"></button>
    </div>
</div>