<div class="grid">
    <div class="col">{{progress?.name}}</div>
    <div class="col">{{progress?.completedLength}} km / {{progress?.totalLength}} km
        ({{ percentage | number}}%)
    </div>
    <div class="col  flex align-items-center">
        <p-progressBar [showValue]="false" [value]="percentage | number"></p-progressBar>
    </div>
    <div class="col-fixed">
        <button type="button" pButton
            class="p-button-sm p-button-outlined p-button-rounded p-button-info"
            icon="pi pi-eye"
            iconPos="left"></button>
    </div>
</div>